{% extends "skeleton.html" %}
{% block content %}

<h2>Modifica el curso: {{ course.name }}</h2>
<form id="frmEditCourse"
      method="POST"
      action="/courses/modify?id={{ course.key.urlsafe() }}">

    <label for="edName">Nombre </label>
    <input type="text" id="edName" name="edName" required="required"
            size="10"
            value="{{ course.studies_name }}"
            placeholder="nombre" />

    <label for="edLevel">Nivel </label>
    <input type="number" id="edLevel" name="edLevel" required="required"
            min="1"
            style="width: 80px"
            value="{{ course.level }}"/>

    <br/>

    <label for="edBkColor">Color de fondo </label>
    <input type="color" id="edBkColor" name="edBkColor" required="required"
            style="width: 80px"
            value="{{ course.bk_color }}"/>

    <br/>

    <a href="#" onclick="frmEditCourse.submit()">
        <img height="32px" width="32px" src="/res/modify.svg"
             alt="Modificar" title="Modificar"
             class="styled-button" />
    </a>
</form>

{% endblock %}
